.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.animation-item{
    transform: translateY(-100px);
    opacity: 0;
    transition: all 1s;
}
.animation-fade-in{
    transform: translateY(0px);
    opacity: 1;
}